@media (max-width: 1024px) {
    /* HEADER */
  .header_wrap{
    padding-left: 20px;
    padding-right: 20px; 
  }
    /* ABOUT US */
#about_us{
  padding-top: 150px; 
    padding-bottom: 100px;
    max-width: 70%;
    margin: 0 auto;    
}
    /* GALLERY */
.gallery{
  grid-gap: 0px 10px;
}
    /* SALE */
.sale_text-wrap{
  left: 10%;
}
    /* DELIVERY  */
.delivery div{
  padding-left: 0;
  padding-right: 0;
  font-size: 16px;
}
  }

@media (max-width: 1024px) {
    .sale_text-wrap {
      left: 1%;}
  }

@media (max-width: 768px) {
    /* HEADER */
  .header_wrap{
    padding-left: 10px;
    padding-right: 10px; 
  }
  .logo{
    max-width: 55px;
  }
  .header_nav li{
    min-width: 150px;
  }
  .header_nav a{
    font-size: 16px;
  }
    /* SLIDER */
.slide_img{
  max-height: 500px;
}
.main_slider_text-wrap{
  left: 35%;
}
    /* ABOUT US */
#about_us{
  padding-top: 0px;
  max-width: 75%;
}
#about_us h2{
  font-size: 30px;
}
#about_us p{
  font-size: 24px;
}
    /* GALLERY */
.gallery{
  grid-gap: 0px 5px
}
#gallery_header{
  font-size: 30px;
}
    /* SALE */
.sale_img{
  height: 300px;
}
.sale_text-wrap{
  left: 20%;
}
.sale_text-h3{
  font-size: 40px;
  margin: 0 auto;
  width: 100px;
}
.sale_text-p{
  font-size: 24px;
  width: auto;
}
    /* DELIVERY  */
.delivery div img{
  max-width: 150px;
}
    /* FOOTER */
footer{
  padding-top: 10px;
  padding-bottom: 0px;
}
.footer_text h3{
  font-size: 16px;
}
.socials_logo{
  max-width: 30px;
}
  }

@media (max-width: 662px) {
    .header_wrap{
      padding-left: 0px;
      padding-right: 0px; 
      border-bottom: 3px solid #ff71ab;
    }
    header{
      justify-content: space-between;
    }
    .header_logo{
      order:2;
      margin-right: 20px;
  }
    .logo{
      max-width: 85px; 
  }
    
    nav{
      padding-left: 20px;
    }
    .header_nav{
    flex-direction: column;
    padding-left: 0px;
  }
  .header_nav li{
    padding-top: 5px;
  }
  .header_nav a{
    font-size: 20px;
    text-align: center;
    color: rgb(68, 70, 70);
  }
  
    .header_button{
      display: none;
      order:3;
    }
      /*  MAIN START  */
      /* SLIDER */
  .main_slider{
    display: none !important;
  }
  .slide_img{
    display: none;
  }
  .main_slider_text-wrap{
    position: unset;
    border: 15px solid #f2f2f2;
    margin: 0 auto;
    max-width: 250px;
    padding-top: 30px;
    margin-top: 20px;
    margin-bottom: 50px;
    box-shadow: 0 15px 30px #ff71ab;
  }
  .slider_text-h1{
    padding-top: 10px;
  }
      /* ABOUT US */
  #about_us{
    padding: 0;
  }
  #about_us h2{
    padding-bottom: 30px;
  }
  #about_us p{
    font-size: 20px;
  }
      /* GALLERY */
  .gallery_wrap{
    padding-left: 0;
    padding-right: 0;
  }
  .gallery{
    grid-template-columns: repeat(2, 1fr);  }
  #gallery_header{
    padding-bottom: 30px;
  }
  .gallery_item{
    max-width: 320px;
    height: auto;
    margin-bottom: 20px;
  }
  .item_img-wrap{}
  .item_img{}
  .gallery_item-text{
    padding-top: 10px;
  }
      /* SALE */
  .sale_text-wrap{
    left:10%;
  }
  .sale_text-h3{
    font-size: 40px;
    margin: 0 auto;
    width: 100px;
  }
  .sale_text-p{
    font-size: 24px;
    width: auto;
  }
      /* DELIVERY  */
  .delivery{
    flex-direction: column;
      align-items: center;
  }
  }
  
@media (max-width: 425px) {
    /* HEADER */
  .header_wrap{
    padding-left: 0px;
    padding-right: 0px; 
    border-bottom: 3px solid #ff71ab;
  }
  header{
    justify-content: space-between;
  }
  .header_logo{
    order:2;
    margin-right: 20px;
}
  .logo{
    max-width: 85px; 
}
  
  nav{
    padding-left: 20px;
  }
  .header_nav{
  flex-direction: column;
  padding-left: 0px;
}
.header_nav li{
  padding-top: 5px;
}
.header_nav a{
  font-size: 20px;
  text-align: center;
  color: rgb(68, 70, 70);
}
  .header_button{
    display: none;
    order:3;
  }
    /* SLIDER */
.main_slider{
  display: none !important;
}
.slide_img{
  display: none;
}
.main_slider_text-wrap{
  position: unset;
  border: 15px solid #f2f2f2;
  margin: 0 auto;
  max-width: 250px;
  padding-top: 30px;
  margin-top: 20px;
  margin-bottom: 50px;
}
.slider_text-h1{
  padding-top: 10px;
}
    /* ABOUT US */
#about_us{
  padding: 0;
}
#about_us h2{
  padding-bottom: 30px;
}
#about_us p{
  font-size: 20px;
}
    /* GALLERY */
.gallery_wrap{
  padding-left: 0;
  padding-right: 0;
}
.gallery{
  grid-template-columns: auto;
}
#gallery_header{
  padding-bottom: 30px;
}
.gallery_item{
  max-width: 320px;
  height: auto;
  margin-left: 50px;
  margin-bottom: 20px;
}
.gallery_item-text{
  padding-top: 10px;
}
    /* SALE */
.sale_text-h3{
  font-size: 40px;
  margin: 0 auto;
  width: 100px;
}
.sale_text-p{
  font-size: 24px;
  width: auto;
}
    /* DELIVERY  */
.delivery{
  flex-direction: column;
  align-items: center;
}
    /* MAIN FINISH */
  }

@media (max-width: 375px) {
    /* HEADER */
  .header_wrap{
    padding-left: 0px;
    padding-right: 0px; 
  }
    /*  MAIN START  */
    /* GALLERY */
.gallery{
  padding-left: 30px;
}
.gallery_item{
  margin-left: 0px;
}
  }

@media (max-width: 320px) {
    /* HEADER */
  .header_wrap{
    padding-left: 0px;
    padding-right: 0px; 
  }
    /*  MAIN START  */
    /* GALLERY */
.gallery{
  padding-left: 0px;
}
.gallery_item{
  margin-left: 0px;
}
    /* MAIN FINISH */
  }